<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="onClick()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>ADM App</span>
    <div class="bloque-derecho">
      <div class="bloque-derecho">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>account_circle</mat-icon>
        </button>
    </div>
    </div>
  </mat-toolbar>

<app-sidenav [drawerInput]="sendDrawe" [navButton]="items"></app-sidenav>