<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item active">empresatransporte</li>
  </ol>
</nav>
<h2>empresatransporte Detail</h2>
<!-- todo: figure out better material styling for alerts -->
<div *ngIf="feedback.message" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
<form *ngIf="emp" #editForm="ngForm" (ngSubmit)="save()">

  <mat-form-field>
    <mat-label for="nombre">Nombre</mat-label>
    <input matInput [(ngModel)]="emp.nombre" id="nombre" name="nombre" placeholder="Nombre">
  </mat-form-field>

  <mat-form-field>
    <mat-label for="descripcion">Descripcion</mat-label>
    <input matInput [(ngModel)]="emp.descripcion" id="descripcion" name="descripcion" placeholder="Descripcion">
  </mat-form-field>

  <div class="button-row" role="group">
    <button type="submit" mat-raised-button color="primary" [disabled]="!editForm.form.valid">Save</button>
    <button type="button" mat-button color="accent" (click)="cancel()">Cancel</button>
  </div>
</form>
