.example-container {
    width: 100%;
    height: 100%;
    position: fixed;
    /* margin: 10px;
    border: 1px solid #555; */
  }
  .tp-section:hover {
    background: rgba(167, 166, 166, 0.357);
  }
  mat-toolbar{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
  }
  mat-drawer{
    min-width: 20%;
  }
  span{
    font-size: medium;
  }
  .bloque-derecho{
    display: flex;
    justify-content: flex-end;
  }